body {

}

.btn {

}

#container {
   padding : 10px;
   padding-top: 0px;
}

#newpost{
   border : 1px solid #ccc;
   border-radius : .25rem;
   padding : 12px;
}

#allposts {
   border : 1px solid #ccc;
   border-radius : .25rem;
   padding : 10px;
}

#newpost textarea {
   border: 1px solid #ccc;   
   width: 100%;
   margin-bottom
}

h1 {
   padding : 10px;
}
